@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
html,body{
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
}
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
}
.first-head{
    width: 100%;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    background: url(../Assets/ForestBGv2.png);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
}
.top-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    /* background-color: red; */
}
.Location{
    color: white;
    padding: 5px;
    background-color: #0000003d;
    border-radius: 5px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
#entity{
    color: white;
    font-weight: 500;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
#entityStatus{
    color: white;
    font-family: "Mada", sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 23px;
}
#entityValue{
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.751);
    font-weight: 500;
    margin-top: -30px;
    font-size: 73px;
}
#entityMeasure{
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin-top: -25px;
    font-size: 18px;
}
.bottom-details{
    background-color: #E9E9E9;
    flex-grow: 1;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 100%;
    transform: translateY(-10px);
    padding: 10px;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center

}
.bottom-box{
    width: 100%;
    /* max-width: 900px; */
    /* background-color: red; */
    gap: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#TimeChart{
    background-color: #C5E4C6;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.288);
    padding: 5px;
    box-sizing: border-box;
    max-height: 50dvh;
    border-radius: 10px;
}
#selectDate{
    font-size: 10px;
    width: fit-content;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
}
#selectDate::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
  cursor: pointer;
  transform: scale(1.4);
}
.timeControl{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C5E4C6;
    padding: 4px;
    box-sizing: border-box;
    gap: 15px;
    border-radius: 8px;
}
.timeControl select{
    box-shadow:0px 0px 2px rgba(0, 0, 0, 0.526);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.timeControl button{
    border:none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.526);
    padding: 5px 20px;
    border-radius: 5px;
}

@media (min-height: 700px) {
    #TimeChart{
        max-height: 54dvh;
    }
    
}